@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  /* Sidebar */
  .sidebar-icons {
    @apply relative flex items-center justify-center 
    h-12 w-12 mt-2 mb-2 mx-auto  
    bg-gray-400 hover:bg-green-600 dark:bg-gray-800 
    text-green-500 hover:text-white
    hover:rounded-xl rounded-3xl
    transition-all duration-300 ease-linear
    cursor-pointer shadow-lg ;
  }

  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md
    text-white bg-gray-900 
    text-xs font-bold 
    transition-all duration-100 scale-0 origin-left;
  }

  .sidebar-divider {
    @apply bg-gray-200 dark:bg-gray-800 
    border border-gray-200 dark:border-gray-800 rounded-full
    mx-2;
  }
  /* Channel */
  .channel-bar{
    @apply w-72 max-h-full m-0 ml-16 bg-gray-200 dark:bg-gray-800
  ;
  }

  .channel-bar-title{
    @apply flex items-start text-left 
    p-4 pt-5 left-5 font-bold tracking-wider  text-lg dark:text-gray-100 text-gray-500
  }
  
  .channel-bar-body-dropdown{
    @apply flex flex-col 
    pb-5 left-5 space-y-4
    dark:text-gray-600 text-gray-500 text-left px-4 font-bold 
    cursor-pointer
  }

  .channel-bar-body-dropdown-selected{
    @apply text-blue-700 flex-1
  }

  .channel-bar-body-dropdown-text{
   @apply text-gray-500 flex-1
  }

  .channel-bar-body-dropdown-header{
    @apply flex flex-row items-center justify-items-start
  }

  .channel-bar-body-dropdown-items{
    @apply flex px-4 
  }

  /* Main Body */
  .main-body{
    @apply flex flex-col w-full max-h-screen m-0 dark:bg-gray-700 bg-gray-300
  }
  .main-body-content{
    @apply flex flex-col items-center h-full w-full
    mt-0 ml-0 mx-auto px-0 pb-12 overflow-y-scroll
  }

  /* Posts */
  .content-list {
    @apply flex flex-col items-center 
    h-full w-full 
    mt-0 ml-0 mx-auto px-0 pb-12 
    overflow-y-scroll;
  }

  .post {
    @apply w-full
    flex flex-row items-center justify-evenly
    py-4 px-8 m-0
    cursor-pointer;
  }

  .post-selected {
    @apply bg-green-400 dark:bg-gray-900
    shadow-md;
  }

  .post-content {
    @apply w-4/5 
    flex flex-col justify-start 
    ml-auto;
  }

  .post-text {
    @apply text-lg text-left text-gray-800 dark:text-white 
    mr-auto whitespace-normal;
  }

  .post-owner {
    @apply flex flex-row text-left font-semibold text-gray-800 dark:text-white mr-2 cursor-pointer;
  }

  .avatar-wrapper {
    @apply flex flex-col items-center
    w-12 
    m-0 ml-auto mb-auto;
  }

  .avatar {
    @apply flex-none
    w-12 h-12 
    rounded-full shadow-md
    object-cover dark:bg-gray-100 bg-gray-500
    mb-auto mt-0 mx-0 
    cursor-pointer;
  }

  .timestamp {
    @apply text-xs text-left font-semibold text-gray-500 dark:text-gray-500 ml-2 pt-[4px];
  }

  /* Chat Bar */
  .chat-bar{
    @apply flex flex-row items-center justify-between 
    fixed left-80 right-8 bottom-2 
    rounded-lg shadow-lg 
    bg-gray-400 dark:bg-gray-600 px-2
    h-12;
  }
  .chat-bar-input{
    @apply font-semibold w-full
    bg-transparent outline-none 
    ml-0 mr-auto
    text-gray-500  dark:text-gray-400 placeholder-gray-500
    cursor-text;
  }

  /* Navbar */
  .nav-bar{
    @apply flex flex-row items-center space-x-2 
    w-full h-16 px-4 py-2 dark:bg-gray-700 bg-gray-300 shadow-lg
  }
  .title-text{
    @apply flex dark:text-gray-600 text-gray-500 font-bold font-mono flex-1
    flex-row items-center justify-items-start space-x-1
  }

  .search{
    @apply w-1/5 flex items-center justify-start 
    dark:bg-gray-600   bg-gray-400
    dark:text-gray-500 text-gray-500
    px-2 h-9 ml-0 mr-0 rounded-md shadow-md transition duration-300 ease-in-out
  }

  .search-input{
    @apply w-full h-full font-sans font-semibold
    bg-transparent outline-none dark:text-gray-200 dark:placeholder-gray-500 placeholder-gray-600 pl-1 rounded
  }

  /* Darkmode Icon */
  .darkmode-icon{
    @apply 
    dark:text-gray-500 text-gray-600
    dark:hover:text-green-500 hover:text-green-600
    cursor-pointer
  }

  /* User Card */
  .user-card-base{
   @apply flex bg-yellow-500 w-64 h-[400px] rounded-xl
  }

  .user-card-secondary{
    @apply bg-gray-900 mt-16 w-64 rounded-b-xl
  }

  .user-card-tertiary{
    @apply flex flex-col bg-black w-[205px] h-[260px] fixed rounded-xl mt-[110px] ml-[25px]
  }

  .user-card-username{
    @apply text-white font-semibold ml-[20px] mt-[20px]
  }

  .user-card-username-full{
    @apply text-white ml-[20px] font-semibold text-xs
  }

  .user-card-facts{
    @apply text-white ml-[20px] mt-[10px]
  }

  .user-card-facts-title{
    @apply font-semibold text-[10px] uppercase
  }

  .user-card-facts-info{
    @apply text-[8px]
  }

  .user-card-note-textarea{
    @apply outline-none bg-black text-white placeholder:text-[8px] text-[8px] w-[170px] h-[60px] resize-none
  }

  .user-card-circle{
    @apply bg-gray-900 w-[85px] h-[85px] mt-[15px] ml-[15px] rounded-full fixed
  }

  .user-card-info-space{
    @apply mt-[10px]
  }

  .edit-button-circle{
    @apply fixed rounded-full opacity-50 hover:opacity-75 bg-black w-8 h-8 ml-[81.5%] mt-[2%] cursor-auto
  }

  .edit-button-icon{
    @apply fixed opacity-100 text-white ml-[3.5%] mt-[3.5%] cursor-pointer
  }



 
}